<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            Ir a Login
        </a>
    </li>
    <li>
        <a routerLink="/auth/registro">
            Ir a Registro
        </a>
    </li>

    <li>
        <a routerLink="/heroes/listado">
            Ir a ListadoComponent
        </a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">
            Ir a AgregarComponent
        </a>
    </li>
    <li>
        <a routerLink="/heroes/editar/22">
            Ir a Editar de AgregarComponent
        </a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">
            Ir a BuscarComponent
        </a>
    </li>
    <li>
        <a routerLink="/heroes/22">
            Ir a HeroeComponent
        </a>
    </li>
</ul>